* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.cont {
    /* C centra todo normal y queda fino */
    display: grid;
    justify-content: center;
    grid-template: 80px/125px 210px 150px 150px 150px 150px 128px 128px 0px;
}

.main-img {
    color: aliceblue;
    background-color: #351f16;
    display: grid;
    background-image: url(../img/nequi);
    grid-template: 570px/ 100%;
    background-size: cover;
}

.logo {
    color: aliceblue;
    background-color: #6e4a37;
}

.options {
    background-color: #d6b097;
}

.btn1,
.btn {
    border-radius: 100px;
}

.btn1 {
    border: 1px solid #6e4a37;
}

.btn {
    background-color: #6e4a37;
}

.txt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain-more {
    margin: auto;
    width: 1200px;
    position: relative;
    bottom: 99px;
}

.more {
    border: none;
    color: aliceblue;
    border-radius: 100px;
    width: 391px;
    height: 56px;
    background-color: #6e4a37;
}

/*  tarjetas */
.section-center {
    display: flex;
    justify-content: center;
}

.section {
    width: 1200px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 282px);
    grid-template-rows: repeat(1, 600px);
    grid-column-gap: 24px;
    margin: 150px 0px 150px 0px;
}

.tarjeta {
    border-radius: 29px;
    box-shadow: 3px 1px 5px rgb(235, 235, 235);
}

.tarjeta-img {
    color: aliceblue;
    width: 282px;
    height: 230px;
    background-color: #3a291c;
    border-top-right-radius: 29px;
    border-top-left-radius: 29px;
}

.lorem {
    font-size: 1.1em;
    padding: 35px 15px 30px 15px
}

.btn-tarjeta {
    color: aliceblue;
    background-color: #351f16;
    width: 250px;
    height: 60px;
    position: relative;
    left: 17px;
    border-radius: 100px;
    border: transparent;
}

.second-img {
    background-color:#351f16;
    display: grid;
    background-image: url(../img/second-img.png);
    grid-template: 699px/ 100%;
    background-size: cover;
}

.section-category {
    width: 1200px;
    height: 160px;
    display: grid;
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: repeat(1, 160px);
    grid-column-gap: 24px;
    margin-top: 330px;
}

.tarjeta-category {
    border-radius: 29px;
    background-color: aliceblue;
}

.third-img {
    display: grid;
    background-color: #5f432f;
    grid-template: 800px/ 100%;

}

.section-option {
    width: 1200px;
    height: 160px;
    display: grid;
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: repeat(2, 160px);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-top: 280px;
}

.tarjeta-option {
    color:rgb(247, 59, 7);
    border-radius: 29px;
    background-color: aliceblue;
}

.help {
    color: aliceblue;
    position: fixed;
    right: 19px;
    bottom: 15px;
    border-radius: 100px;
    border: none;
    width: 118px;
    height: 46px;
    background-color: #6e4b39;
}

/* footer */
.footer {
    height: 799px;
    background-color:#6e4a37;
}

.powerby {
    display: grid;
    justify-content: center;
    grid-template: 38px/ 172px 210px 135px 135px 135px 135px;
    grid-column-gap: 50px;
    padding: 50px 0px 50px 0px;
}

.powers {
    color: aliceblue;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}

.round {
    border-radius: 100px;
    height: 44px;
}

.footer-menu {
    border-top: 1px solid rgba(245, 245, 245, 0.295);
    border-bottom: 1px solid rgba(245, 245, 245, 0.295);
    height: 400px;
    width: 1190px;
    margin: auto;
}

.section-footer {
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(1, 0px);
    margin-top: 100px;
}

.menu-list {
    list-style: none;
    font-size: 1.3em;
    color: aliceblue;
}

.items-footer {
    margin-bottom: 20px;
}

.contac {
    display: grid;
    justify-content: left;
    position: relative;
    top: 300px;
    grid-template: 38px/172px 20px 44px 44px 44px 44px 44px;
    grid-column-gap: 50px;
    padding: 50px 0px 50px 0px;
}

.icon {
    
    border-radius: 10px;
    font-size: 2em;
    display: none;
}

@media only screen and (max-width: 767px) {

    /* ELIMINA desplazamiento vertical */
    .second-img {
        overflow: hidden;
    }

    .none {
        display: none;
    }

    .cont {
        /* C centra todo normal y queda fino */
        grid-template: 65px/100px 0.8fr 65px;
    }

    .icon {
        display: block;
        padding: 10px 0px 0px 40px;
    }

    .main-img {
        grid-template: 620px/ 100%;
    }

    .contain-more {
        width: 315px;
        bottom: 59px;
    }

    .more {
        width: 330px;
    }

    .section {
        width: 280px;
    }

    .section-category {
        width: 300px;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(1, 232px);
    }

    .section-option {
        width: 300px;
        grid-template-columns: repeat(6, 300px);
        grid-template-rows: repeat(1, 136px);
        margin-top: 350px;
    }

    .round {
        height: 40px;
    }

    .powerby {
        grid-template-columns: repeat(2, 120px);
        grid-template-rows: repeat(3, 50px);
        grid-row-gap: 20px;
    }

    .section-footer {
        margin-left: 60px;
        grid-template-columns: repeat(1, 250px);
        margin-top: 100px;
    }

    .contac {
        margin-left: 55px;
        top: 35px;
        grid-template-columns: repeat(7, 40px);
        grid-template-rows: repeat(1, 40px);
        grid-column-gap: 1px;
    }

    .power-witdth {
        width: 71px;
    }

    .help {
        width: 46px;
    }

}

/* Tablet */
@media only screen and (min-width: 767px) and (max-width: 1331px) {
    .icon {
        display: block;
        padding: 15px 0px 0px 50px;
    }
    .second-img {
        overflow: hidden;
    }

    .cont {
        /* C centra todo normal y queda fino */
        grid-template: 80px/100px 0.8fr 60px;
    }
    .main-img {
        grid-template: 667px/ 100%;
    }
    .none-tablet {
        display: none;
    }

    .section {
        width: 780px;
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(2, 582px);
        grid-column-gap: 220px;
        grid-row-gap: 25px;
        margin: 100px 0px 700px 0px;
    }
    .contain-more {
        width: 375px;
    }
    .section-category {
        width: 680px;
        grid-template-columns: repeat(3, 205px);
        grid-template-rows: repeat(3, 200px);
        margin-top: 220px;
    }

    .section-option {
        width: 650px;
        grid-template-columns: repeat(2, 315px);
        grid-template-rows: repeat(3, 135px);
        grid-column-gap: 14px;
        grid-row-gap: 24px;
        margin-top: 140px;
    }

    .powerby {
        grid-template-columns: repeat(3, 190px);
        grid-template-rows: repeat(2, 50px);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .section-footer {
        margin-left: 200px;
        grid-template-columns: repeat(1, 250px);
    }

    .contac {
        justify-content: center;
        margin-right: 290px;
        top: 35px;
        grid-column-gap: 15px;
    }

    .power-witdth {
        height: 40px;
        width: 150px;
    }


}